<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
    <script src="/authentication.js"></script>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="main-container">
          <div class="edit-task-container">
            <h1>Edit task</h1>
            <div class="forms-container">
              <form id="update-title-form">
                <div class="inner">
                  <input id="title" class="input" name="title" placeholder="Edit title" />
                  <button id="update-title" type="submit">Update</button>
                </div>
              </form>
              <form id="update-description-form">
                <div class="inner">
                  <input
                    id="description"
                    class="input"
                    name="description"
                    placeholder="Edit description"
                  />
                  <button id="update-description" type="submit">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      const taskId = "<%= taskId %>";
    </script>
    <script src="/editTask.js"></script>
  </body>
</html>
