<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="main-container">
          <div class="landing">
            <h1>Task Manager</h1>
            <span>Manage your tasks and stay organized every day.</span>
            <section>
              <a href="/login-page">Log in</a>
              <a href="/sign-up-page">Sign up</a>
            </section>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
