<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head"); %>
    <script src="/authentication.js"></script>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="main-container">
          <section class="task-data-container">
            <h1>Task Manager</h1>
            <form id="submit-form">
              <input id="task-title" type="text" placeholder="Your task" />
              <input id="task-description" type="text" placeholder="Description" />
              <button type="submit">Submit</button>
            </form>
          </section>
          <section class="tasks-container">
            <% if (data.length !== 0) { %> <% for (let task = 0; task < data.length; task++) { %>
            <div class="task">
              <h2 id="task-title"><%= data[task].task_title %></h2>
              <div class="task-options">
                <a href="/edit-task-page/<%= data[task].task_id %>">Edit</a>
                <button id="<%= data[task].task_id %>" class="button-delete">Delete</button>
              </div>
            </div>
            <% } %> <% } else { %>
            <h2>No tasks</h2>
            <% } %>
          </section>
        </div>
      </main>
    </div>
    <script src="/tasks.js"></script>
  </body>
</html>
