<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="main-container">
          <div class="sign-up-container">
            <h1>Sign Up</h1>
            <form class="sign-up-form">
              <input
                id="username"
                class="input"
                name="username"
                type="text"
                placeholder="Your username"
              />
              <input id="email" class="input" name="email" type="email" placeholder="Your email" />
              <input
                id="password"
                class="input"
                name="password"
                type="password"
                placeholder="Your password"
              />
              <button type="submit">Sign Up</button>
            </form>
          </div>
        </div>
      </main>
    </div>
    <script src="/signUp.js"></script>
  </body>
</html>
