<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="main-container">
          <div class="sign-up-container">
            <h1>Sign Up</h1>
            <form class="sign-up-form">
              <div>
                <input
                  id="username"
                  class="input"
                  name="username"
                  type="text"
                  placeholder="Your username"
                />
              </div>
              <div>
                <input
                  id="email"
                  class="input"
                  name="email"
                  type="email"
                  placeholder="Your email"
                />
              </div>
              <div>
                <input
                  id="password"
                  class="input"
                  name="password"
                  type="password"
                  placeholder="Your password"
                />
              </div>
              <button id="sign-up-button" type="submit">Sign Up</button>
              <img class="sign-up-loader" src="/oval.svg" alt="Loader" />
            </form>
          </div>
        </div>
      </main>
    </div>
    <script src="/signUp.js" type="module"></script>
  </body>
</html>
