* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container,
.task-data-container,
.tasks-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  row-gap: 30px;
}

.task-data-container,
.tasks-container {
  width: 100%;
  row-gap: 20px;
  padding: 20px 0;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 10px;
}

.task,
.task-options,
.inner {
  display: flex;
}

.task-title {
  flex: 2;
}
